@import "../../components/productMarkup";

.gallery {
  padding-top: var(--offset-240);
  padding-bottom: var(--offset-240);

  & .grid-container {
    margin-top: var(--offset-56);

    @include tablet() {
      margin-top: rem(40);
    }
  }
}

.gallery-aside {
  grid-column: 1 / 4;

  @include tablet() {
    position: relative;
    grid-column: 1 / -1;
  }

  &:has(.gallery-aside__button.active) .gallery-nav-wrapper {
    opacity: 1;
    visibility: visible;
  }
}

.gallery-nav {
  &.active {
    & .gallery__title {
      &::after {
        @include tablet() {
          transform: rotateX(180deg);
        }
      }
    }
  }

  &:not(:first-child) {
    margin-top: var(--offset-50);

    & .nav-list {
      @include tablet() {
        display: none;
      }
    }
  }

  & .gallery__title {
    @include tablet() {
      display: flex;
      align-items: center;
      gap: rem(6);
      font-size: rem(16);
      line-height: rem(19.5);
    }

    &::after {
      @include tablet() {
        content: "";
        width: 0;
        height: 0;
        border-left: rem(4.75) solid transparent;
        border-right: rem(4.75) solid transparent;
        border-top: rem(6.8) solid $base-1;
        transition: transform 0.4s ease-in-out;
      }
    }
  }

  & .nav-list {
    margin-top: rem(18);

    @include tablet() {
      margin-top: rem(12);
    }

    @media screen and (min-width: 1025px){
      display: block !important;
    }
  }

  & .nav-list__item {
    &:last-child {
      & .nav-list__button {
        padding-top: rem(9);
      }
    }

    &:first-child {
      & .nav-list__button {
        padding-bottom: rem(9);
      }
    }

    &:not(:last-child) {
      & .nav-list__button {
        padding-bottom: rem(9);
      }
    }

    &:not(:first-child) {
      & .nav-list__button {
        padding-top: rem(9);
      }
    }
  }

  & .nav-list__button {
    display: flex;
    gap: rem(8);
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: $black-color;
    text-decoration: underline;
    text-align: start;

    @include tablet() {
      flex-direction: row-reverse;
    }

    &::after {
      content: "";
      display: block;
      width: rem(14);
      height: rem(14);
      border: rem(1) solid $base-1;
      flex-shrink: 0;
    }

    &.active {
      color: $base-2;
      text-decoration-color: $base-2;

      &::after {
        background-size: rem(14) rem(14);
        background-position: center;
        background-image: url(../images/checked.svg);
      }
    }
  }
}

.gallery-wrapper {
  grid-column: 4 / -2;

  @include tablet() {
    grid-column: 1 / -1;

    margin-top: rem(40);
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: rem(56) rem(40);

  @include tablet() {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: rem(50) rem(11);
  }
}

.products__item {
  display: flex;
  flex-direction: column;

  &:nth-child(odd) {
    grid-column: 1 / 5;

    @include tablet() {
      grid-column: 1 / 4;
    }
  }

  &:nth-child(even) {
    grid-column: 5 / -1;

    @include tablet() {
      grid-column: 4/ -1;
    }
  }
}

.pagination-wrapper:has(.pagination) {
  margin-top: var(--offset-100);
}

.pagination__pages {
  display: flex;
  align-items: center;
  gap: rem(12);

  margin: 0 var(--offset-42);

  @include tablet() {
    gap: rem(14);
  }
}

.pagination__button {
  padding: 0;
  background-color: transparent;

  @include tablet() {
    font-size: rem(16);
    line-height: rem(19.5);
  }

  &.current {
    padding: rem(2) rem(6);

    color: $white-color;
    background-color: $base-2;
  }
}

.pagination__controllers {
  min-width: rem(69);
  padding: rem(7);

  color: $white-color;
  background-color: $base-2;

  @include tablet() {
    min-width: rem(64);
  }
}

.gallery-aside__wrapper {
  padding-left: rem(31);

  @include tablet() {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
}

.gallery-nav-wrapper {
  margin-top: rem(40);

  @include tablet() {
    @include transition(visibility, opacity);

    position: absolute;
    top: calc(100% + rem(14));
    right: 0;
    z-index: 200;
    display: block;
    width: rem(284);
    padding: rem(57) rem(20);
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 rem(8) 0px rgba(48, 33, 28, 0.12);
    background-color: $white-color;
  }

  &:has(.filter button) {
    margin-top: rem(20);

    @include tablet() {
      padding-top: rem(18);
      margin-top: 0;
    }
  }
}

.gallery-nav-close {
  display: none;
  top: rem(9);
  right: rem(8);

  @include tablet() {
    display: block;
  }
}

.gallery-nav-icon {
  width: rem(18);
  height: rem(18);
}

.gallery-nav-inner {
  max-height: rem(718);
  padding-left: rem(20);
  overflow-y: scroll;
  direction: rtl;
  text-align: start;

  @include tablet() {
    max-height: initial;
    padding-left: 0;
    direction: ltr;
  }

  /* width */
  &.scroll-active {
    &::-webkit-scrollbar {
      display: block;
      width: rem(5);

      @include tablet() {
        display: none;
      }
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    width: rem(5);
    border-radius: rem(8);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: rem(8);
    background: $base-1;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $base-23;
  }
}

.gallery-aside__button {
  background-color: transparent;

  &.active {
    background-color: $base-2;
  }
}

.gallery-aside__icon {
  @include transition(background-color);

  display: none;

  width: rem(28);
  height: rem(27);

  @include tablet() {
    display: block;
  }
}

.filter-wrapper {
  margin-bottom: rem(40);

  @include tablet() {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: rem(10);
  }
}

.filter-wrapper:not(:has(.filter button)) {
  display: none;
}

.filter-wrapper__button {
  display: none;
  margin-bottom: rem(12);
  color: $base-2;

  @include tablet() {
    font-size: rem(16);
    line-height: rem(19.5);
    margin-top: rem(22);
    margin-bottom: 0;
  }

  &:has(+ .filter button:nth-child(2)) {
    display: block;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: rem(12) rem(24);

  @include tablet() {
    padding-right: rem(12);
  }
}

.filter button {
  display: flex;
  align-items: center;
  gap: rem(6);
  background-color: transparent;
  padding: 0;
  border: none;

  @include tablet() {
    flex-direction: row-reverse;
  }

  & span {
    display: block;
    padding: rem(4) rem(13);
    font-size: rem(12);
    line-height: rem(14.63);
    border: rem(1) solid $black-color;
    color: #161616;
  }

  &::before {
    content: "";
    display: block;
    width: rem(15);
    height: rem(15);
    background-image: url(../images/close.svg);
    background-size: contain;
    flex-shrink: 0;
  }
}