//UTILS
@import "utils/breakpoints";
@import "utils/functions";
@import "utils/mixins";

//BASE
@import "base/variables";

//VENDORS
@import "vendors/skeleton";

//COMPONENTS
@import "components/home/gallerySection";

.gallery {
  padding-top: rem(50);

  @include tablet(){
    padding-top: rem(30);
  }
}

.section-title {
  margin-top: rem(50);

  @include tablet(){
    margin-top: rem(40);
  }
}