//UTILS
@import "utils/breakpoints";
@import "utils/functions";
@import "utils/mixins";

//BASE
@import "base/variables";

.legal {
  padding-top: rem(50);
  padding-bottom: var(--offset-240);

  font-family: "Inter", sans-serif;

  @include tablet(){
    padding-top: rem(30);
  }
}

.title {
  margin-top:rem(50);

  @include tablet(){
    padding-top: rem(40);
  }
}

.legal-wrapper {
  margin-top: var(--offset-25);

  & p {
    margin-top: rem(14);

    font-size: rem(16);
    line-height: rem(25.6);

    @include tablet(){
      font-size: rem(15);
      line-height: rem(24);
    }
  }

  & h2 {
    &:not(:first-of-type) {
      margin-top: rem(22);
    }
  }
}

.legal-inner {
  display: none;
  margin-top: rem(22);
}

.legal-button {
  @include hover(color $base-12 $base-2, fill $base-12 $base-2);

  margin-top: var(--offset-38);

  font-size: rem(18);
  line-height: rem(28.8);

  @include tablet(){
    font-size: rem(16);
    line-height: rem(25.6);
  }

  &.active {
    & span {
      &:first-of-type {
        display: none;
      }
    }

    & .legal-icon {
      transform: rotate(-180deg);
    }
  }

  &:not(.active) {
    & span {
      &:last-of-type {
        display: none;
      }
    }
  }
}



.legal-icon {
  @include transition(transform);

  width: rem(23);
  height: rem(15);

  @include tablet(){
    height: rem(16);
  }
}

