@import "summary";

.basket {
  padding-top: rem(50);

  @include tablet() {
    padding-top: rem(30);
  }
}

.section-title {
  margin-top: rem(40);
}

.basket-count {
  margin-top: var(--offset-20);
  gap: rem(25);

  @include tablet() {
    margin-top: rem(40);
  }
}

.item-count {
  @include tablet() {
    font-size: rem(22);
    line-height: rem(26.82);
  }
}

.basket-wrapper {
  margin-top: var(--offset-80);

  &:has( .empty-basket) {
    @include tablet() {
      margin-top: rem(60);
    }
  }
}

.basket-inner {
  grid-column: 1 / 8;

  @include tablet() {
    grid-column: 1 / -1;
    grid-row: 2;

    margin-top: rem(50);
  }
}

.basket-products:has( .loading) {
  pointer-events: none;
}

.basket-products__item {
  display: flex;
  gap: rem(30);

  padding-bottom: rem(39);
  border-bottom: rem(1) solid $black-color;

  @include tablet() {
    display: block;
  }

  &:not(:first-child) {
    margin-top: var(--offset-40);
  }

  & .loader {
    width: rem(70);
    height: rem(70);
  }

  & > .basket-products__wrapper {
    display: none;

    @include tablet() {
      display: block;

      margin-top: rem(32);
      margin-left: rem(130);
    }

    & > span {
      &:first-child {
        @include tablet() {
          font-size: rem(18);
          line-height: rem(21.94);
        }
      }

      &:last-child {
        @include tablet() {
          font-size: rem(20);
          line-height: rem(24.38);
        }
      }
    }
  }
}

.basket-products__inner {
  display: contents;

  @include tablet() {
    display: flex;
    gap: rem(12);

    margin-top: rem(8);
  }
}

.basket-products__thumb {
  width: rem(220);
  height: rem(280);

  @include tablet() {
    width: rem(118);
    height: rem(150);
  }
}

.basket-products__title {
  @include tablet() {
    font-size: rem(20);
    line-height: rem(24.38);
  }
}

.basket-product__name {
  margin-top: rem(22);
  font-size: rem(22);
  line-height: rem(22);

  @include tablet() {
    font-size: rem(16);
  }
}

.basket-products__size {
  margin-top: rem(22);
}

.basket-products__wrapper {
  & > span {
    &:first-child {
      margin-right: var(--offset-22);
    }
  }
}

.counter-wrapper {
  display: flex;
  align-items: center;
  gap: rem(40);

  @include tablet() {
    display: block;
  }

  & .basket-products__wrapper {
    @include tablet() {
      display: none;
    }
  }
}

.basket-products__delete {
  position: absolute;

  @include tablet() {
    position: static;

    display: block;

    margin-left: auto;
  }
}

.basket-products__icon {
  width: rem(24);
  height: rem(24);
}

.empty-basket {
  grid-column: 3 / -3;

  padding-top: rem(38);
  padding-bottom: rem(33);

  border: rem(1) solid #BABABA;

  @include tablet() {
    grid-column: 1 / -1;

    padding-top: rem(25);
    padding-bottom: rem(67);
  }
}

.empty-basket__thumb {
  width: rem(274);
  height: rem(256);
}

.empty-basket__title {
  margin-top: var(--offset-40);
}

.empty-basket__text {
  margin-top: rem(3);

  @include tablet() {
    font-size: rem(16);
    line-height: rem(19.5);
  }
}