.hero {
  padding-top: rem(50);

  @include tablet() {
    padding-top: rem(30);
  }
}

.hero-swiper {
  margin-top: rem(50);

  @include mobile(){
    margin-top: rem(40);
  }
}

.hero-slide {
  height: rem(500);
  background-position: 50% 50%;

  overflow: hidden;

  @media (hover: hover) {
    &:hover {
      & img {
        opacity: 0;
      }
    }
  }

  & img {
    @include transition(opacity);
  }
}