.hero {
  padding-top: var(--offset-70);
}

.hero-swiper {
  margin-bottom: rem(50);
}

.hero-slide {
  height: rem(500);
  background-position: 50% 50%;

  overflow: hidden;

  @media (hover: hover) {
    &:hover {
      & img {
        opacity: 0;
      }
    }
  }

  & img {
    @include transition(opacity);
  }
}