.gallery {
  & .products__price {
    @include tablet() {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    & > span:first-child {
      margin-right: var(--offset-32);

      @include tablet() {
        margin-right: 0;

        font-size: rem(16);
        line-height: rem(19.5);
      }
    }

    & > span:last-child {
      @include tablet() {
        font-size: rem(18);
        line-height: rem(21.94);
      }
    }
  }
}

.product-container {
  transition: opacity 150ms ease-in-out;

  & .loader-wrapper {
    position: absolute;

    top: rem(306);
    left: 50%;

    transform: translateX(-50%);

    @include tablet() {
      top: 50%;

      transform: translate(-50%, -50%);
    }
  }

  & .loader {
    width: rem(81);
    height: rem(81);

    @include tablet() {
      width: rem(53);
      height: rem(53);
    }
  }
}

.products__link {
  display: block;
  padding-bottom: var(--offset-23);

  @media (hover: hover) {
    &:hover,
    &:focus {
      & ~ .products__buy {
        background-color: $base-2;
      }

      & ~ .products__checkout {
        color: $white-color;
        background-color: $base-1;
      }
    }
  }
}

.products__thumb {
  height: rem(500);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 200% 200%;

  overflow: hidden;

  @include tablet() {
    height: rem(208);
  }

  @media (hover: hover) {
    &:hover,
    &:focus {
      & .products__image {
        opacity: 0;
      }
    }
  }
}

.products__image {
  @include transition(opacity);
}

.products__title {
  margin-top: var(--offset-22);

  @include tablet() {
    font-size: rem(18);
    line-height: rem(21.94);
  }
}

.products__size {
  margin-top: var(--offset-13);
}

.price-wrapper {
  flex-grow: 1;
  column-gap: rem(41);
  margin-top: auto;
  margin-bottom: var(--offset-28);

  @include tablet() {
    flex-grow: 0;
    gap: rem(12);
    margin-bottom: rem(22);
  }
}


.products__button {
  padding: rem(10);

  @include tablet() {
    font-size: rem(12);
    line-height: rem(14.63);
  }
}

.products__buy {
  @include hover(background-color $base-1 $base-2);

  color: $white-color;
  background-color: $base-1;

  &[data-action="delete"] {
    background-color: $base-2;
  }

  &:disabled {
    background-color: $base-9;
  }
}

.products__checkout {
  @include hover(background-color transparent $base-1, color $black-color $white-color);

  position: relative;
  margin-top: var(--offset-20);

  &:after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: rem(1) solid $black-color;
  }
}

.no-products {
  margin-top: rem(-40);

  @include tablet() {
    margin-top: 0;
  }
}

.no-products__thumb {
  width: rem(560);
  height: rem(474);

  @include tablet() {
    width: 100%;
    height: rem(303);
  }
}

.no-products__title {
  margin-top: var(--offset-52);

  font-size: rem(40);
  line-height: rem(48.76);

  color: $base-13;

  @include tablet() {
    margin-top: var(--offset-52);

    font-size: rem(32);
    line-height: rem(39.01);
  }
}

.no-products__text {
  max-width: rem(620);
  color: $base-14;

  @include tablet() {
    max-width: rem(326);
    margin-top: rem(21);
  }
}