body.menu-is-open {
  & .burger__item {
    &:first-child {
      transform: translateY(0.5rem) rotate(45deg) scaleX(.7);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      transform: translateY(-.5rem) rotate(-45deg) scaleX(.7);
      width: 100%;
    }
  }

  & .menu {
    transform: translateX(0);
  }
}

.burger {
  position: relative;
  z-index: 201;

  display: none;

  padding: rem(13) 0 rem(15);

  @include tablet() {
    display: block;
  }
}

.burger__wrapper {
  position: relative;

  display: block;

  width: rem(37);
  height: rem(16);
}

.burger__item {
  @include transition(transform, opacity, width);

  position: absolute;
  right: 0;

  display: block;

  height: rem(1);

  background-color: $white-color;

  &:not(:last-child) {
    width: 100%;
  }

  &:first-child {
    bottom: 100%;
  }

  &:nth-child(2) {
    bottom: rem(8);
  }

  &:last-child {
    width: rem(30);
    bottom: 0;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: rem(156) rem(16) rem(109);

  transition: transform $duration $timing-function;
  overflow-y: auto;

  background-color: $base-1;
  transform: translateX(100%);

  & .nav-list {
    grid-column: 2 / -1;

    & > li {
      &:not(:first-child) {
        margin-top: rem(42);
      }

      & .nav-list__link {
        font-size: rem(18);
        line-height: rem(21.94);
        font-weight: 500;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: $white-color;
      }
    }
  }

  & .menu-item-has-children {
    position: relative;

    &:hover {
      & .menu-item__icon {
        transform: rotateX(180deg);

        @include tablet() {
          transform: rotateX(0);
        }
      }

      & .sub-menu {
        opacity: 1;
        visibility: visible;

        @include tablet() {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    &.active {
      & .menu-item__icon {
        @include tablet() {
          transform: rotateX(180deg);
        }
      }

      & .sub-menu {
        @include tablet() {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    & > button {
      display: flex;
      align-items: center;
      gap: rem(18);

      pointer-events: none;
    }

    & .menu-item__icon {
      @include transition(transform);

      width: rem(18);
      height: rem(11);
    }
  }

  & .socials {
    grid-column: 2 / -1;

    display: flex;
    gap: rem(12);
  }

  & .socials__link {
    fill: $white-color;
  }

  & .socials__icon {
    width: rem(36);
    height: rem(36);
  }

  & .socials-wrapper {
    margin-top: rem(109);
  }

  & .contacts {
    display: flex;
    flex-direction: column-reverse;
    gap: rem(18);

    padding-left: rem(27);
    margin-top: rem(68);
  }

  & .contacts__link {
    gap: rem(10);

    font-size: rem(20);
    line-height: rem(24.38);
    letter-spacing: -0.04em;

    color: $white-color;
    fill: $white-color;
  }

  & .contacts__icon {
    flex-shrink: 0;
  }
}