.header {
  width: 100%;

  & .logo {
    @include hover(color $white-color $base-2);

    display: inline-block;

    padding-top: rem(21);
    padding-bottom: rem(21);

    font-size: rem(22);
    line-height: calc(26.82 / 22);

    @include tablet() {
      padding-top: rem(22);
    }
  }

  & .contacts {
    display: flex;

    @include tablet() {
      display: none;
    }
  }

  & .nav-list {
    display: flex;
    gap: rem(32);

    & > li {
      & .nav-list__link {
        @include hover(color $black-color $base-2);

        padding-bottom: rem(8);

        line-height: calc(19.5 / 16);
        text-transform: uppercase;
      }
    }

    & a,
    & button {
      display: inline-block;
    }

    & .menu-item__icon {
      display: none;
    }
  }

  & .nav-wrapper {
    padding-bottom: rem(17);
    padding-right: rem(146);
    border-bottom: rem(2) solid $base-5;

    @include tablet() {
      padding: 0;
      border: none;
    }
  }
}

.menu-item-has-children {
  max-width: fit-content;
  cursor: pointer;

  &:hover,
  &.active {
    & .sub-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}

.sub-menu-list {
  max-height: rem(299);
  overflow-y: scroll;

  @include tablet() {
    max-height: rem(206);
  }

  & button {
    @include hover(text-decoration-color transparent $base-2, color $base-3 $base-2);

    padding: rem(7) rem(29) rem(7) rem(9);
    text-decoration: underline;
    white-space: nowrap;
  }

  & li:first-child {
    & button {
      padding-top: rem(11);
    }
  }

  & li:last-child {
    & button {
      padding-bottom: rem(15);
    }
  }

  /* width */
  &::-webkit-scrollbar {
    display: block;
    width: rem(2);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    margin-top: rem(47);
    margin-bottom: rem(22);
    border-radius: rem(8);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: rem(8);
    background-color: $base-1;
  }

  &:has(> li:nth-child(9)) {
    &::-webkit-scrollbar-track {
      @media screen and (min-width: 1025px) {
        background-color: #DFDFDF;
      }
    }
  }

  &:has(> li:nth-child(7)) {
    &::-webkit-scrollbar-track {
      @include tablet() {
        background-color: #DFDFDF;
      }
    }
  }
}

.sub-menu {
  @include transition(opacity, visibility);

  top: calc(100% + #{rem(9)});
  z-index: 101;

  padding-right: rem(18);

  box-shadow: 0 0 rem(8) 0 #30211C1F;

  opacity: 0;
  visibility: hidden;
}

.header-wrapper {
  color: $white-color;
  background-color: $base-1;

  & .contacts__item {
    &:not(:last-child) {
      position: relative;
      padding-right: rem(12);
      margin-right: rem(12);

      &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;

        width: rem(1);
        height: calc(100% - #{rem(1)});

        background-color: $white-color;
      }
    }
  }

  & .contacts__link {
    @include hover(fill $white-color $base-2, color $white-color $base-2);

    gap: rem(6);

    font-size: rem(18);
    line-height: calc(21.94 / 18);

  }
}

.header-container {
  padding-top: rem(29);

  letter-spacing: -0.04em;
  background-color: $white-color;

  @include tablet() {
    padding-top: rem(14);
    padding-bottom: rem(10);
    border-bottom: rem(2) solid $base-5;
    min-height: rem(48);
  }
}

.main-nav {
  position: relative;

  @include tablet() {
    display: none;
  }
}

.nav-line {
  position: absolute;
  bottom: 0;

  display: inline-block;
  background-color: $base-1;

  width: rem(53);
  height: rem(2);

  opacity: 0;

  transition-property: opacity, left;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}

.cart-button {
  @include hover(fill $black-color $base-2);

  position: fixed;
  top: rem(89);
  right: rem(80);
  z-index: 199;
  padding: rem(8) rem(5);
  border-radius: 0;
  background-color: $base-6;

  @include tablet() {
    top: rem(71.5);
    right: rem(16);
    margin-left: auto;
  }

  &.hidden {
    & .card-button__price,
    & .cart-count {
      display: none;
    }
  }
}

.cart-button__wrapper {
  padding-top: rem(1);
  padding-right: rem(10);
}

.card-button__icon {
  width: rem(28);
  height: rem(28);
}

.card-button__price {
  font-size: rem(15);
  line-height: rem(18.29);

  color: $base-1;
}

.cart-count {
  font-family: "Inter", sans-serif;
  background-color: $base-1;

  width: rem(16);
  height: rem(16);

  pointer-events: none;
}